th {
    color: white;
    border: 1px solid black;
    padding: 5px;
  }

  thead {
    background-color: rgb(33, 33, 152);
  }

  .clock {
    position: fixed;
    bottom: 0;
    right: 0;
}

.status-button {
    cursor: pointer;
    padding: .25rem .5rem;
}
.in-button {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.out-button {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}